# Arduino
*.hex
*.elf
*.bin
build/
.vscode/
node_modules/
# SPIFFS
data/
spiffs.bin

# OS
.DS_Store
Thumbs.db
desktop.ini

# IDE
.idea/
*.swp
*.swo
*~

# Logs
*.log

/PCB/numberpad-backups
PCB/\#auto_saved_files\#
PCB/_autosave-numberpad.kicad_sch
